# SPDX-FileCopyrightText: 2022 Alexander Dahl <alex@netz39.de>
# SPDX-License-Identifier: CC0-1.0

# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.yml]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = true
max_line_length = 72

[templates/hook.sh.j2]
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
