---
- name: Gather package facts.
  ansible.builtin.package_facts:
    manager: "auto"

- name: Ensure dependencies are installed.
  ansible.builtin.package:
    name:
      - gawk
      - git
      - grep
      - coreutils   # mktemp, cut, head, tail
      - curl
      - diffutils
      - openssl
      - sed
    state: present

- name: Ensure debian specific dependencies are installed
  ansible.builtin.apt:
    pkg:
      - bsdextrautils   # hexdump
    state: present
  when: ansible_distribution == "Debian"

- name: Clone dehydrated repo.
  ansible.builtin.git:
    repo: 'https://github.com/dehydrated-io/dehydrated.git'
    dest: "{{ dehydrated_location }}"
    version: "{{ dehydrated_version }}"

- name: Ensure dehydrated symlink is present.
  ansible.builtin.file:
    src: "{{ dehydrated_location }}/dehydrated"
    dest: "{{ dehydrated_binary }}"
    state: link

- name: Ensure config directory is present.
  ansible.builtin.file:
    path: "{{ dehydrated_config_dir }}"
    state: directory
    mode: "0711"

- name: Ensure base directory is present.
  ansible.builtin.file:
    path: "{{ dehydrated_base_dir }}"
    state: directory
    mode: "0711"

- name: Ensure wellknown directory is present.
  ansible.builtin.file:
    path: "{{ dehydrated_wellknown_dir }}"
    state: directory
    mode: "0755"

- name: Ensure certs directory is present.
  ansible.builtin.file:
    path: "{{ dehydrated_certs_dir }}"
    state: directory
    mode: "0700"

- name: Check if domains.txt is present.
  ansible.builtin.stat:
    path: "{{ dehydrated_config_dir }}/domains.txt"
  register: domains_txt

- name: Ensure domains.txt is present.
  ansible.builtin.file:
    path: "{{ dehydrated_config_dir }}/domains.txt"
    state: touch
    mode: '0644'
  when: not domains_txt.stat.exists

- name: Ensure config is present.
  ansible.builtin.template:
    src: config.j2
    dest: "{{ dehydrated_config_dir }}/config"
    mode: '0644'
  notify: Dehydrated register
