BASEDIR="{{ dehydrated_base_dir }}"
WELLKNOWN="{{ dehydrated_wellknown_dir }}"
DOMAINS_TXT="{{ dehydrated_config_dir }}/domains.txt"
CERTDIR="{{ dehydrated_certs_dir }}"
CONTACT_EMAIL="{{ dehydrated_contact_email }}"
